.home.dark{
  width: 100% !important;
  background-color: black;
  color: white;
}
.home.light{
  width: 100% !important;
  background-color: white;
  color: black;
}
.home .card.dark{
  width: 300px !important;
  margin: 50px 20px;
  border-radius: 5px !important;
  background-color: black;
  color: white;
}
.home .card.light{
  width: 300px !important;
  margin: 50px 20px;
  border-radius: 5px !important;
  background-color: white;
  color: black;
}
.home .card img{
  margin-left: -13px !important;
  width: 300px !important;
  border-radius: 5px 5px 0 0 !important;
  /* width: 100% !important; */
  height: 200px !important;
  /* width: 300px; */
}
.home .div2{
  /* width: 90%; */
  margin: auto  ;
  align-items: center;
  justify-content: space-between;
}
.home .div3{
  margin: auto;
  width: 100%;
  /* display: flex !important; */
  justify-content: space-around;
}
.div1, .div2, .div3{
  width: 90%;
}

.fullDetails .btnDiv{
  width: 90%;
  margin: auto;
}
.fullDetails button{

}
.fullDetails .detailsDiv{
  display: flex;
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px !important;
}
.fullDetails .detailsDiv img{
  height: 350px !important;
}
.fullDetails .detailsDiv .title{
  font-size: 24px;
  font-weight: 700;
}