button{
  padding: 5px 15px;
  background-color: white;
  border: thin solid white;
  /* box-shadow: 0.5px 0.5px 0.5px grey; */
}
button.light{
  padding: 5px 15px;
  background-color: white;
  border: thin solid white;
  /* box-shadow: 0.5px 0.5px 0.5px grey; */
}
button.dark{
  padding: 5px 15px;
  background-color: hsl(209, 23%, 22%);
  border: thin solid hsl(209, 23%, 22%);
  color: white;
  /* box-shadow: 0.5px 0.5px 0.5px grey; */
}
button.dark:hover{
  background-color: hsl(209, 23%, 22%) !important ;
}
button.light:hover{
  background-color: white !important ;
}
.subTitle{
  font-weight: 600;
}
.title{
  font-size: 24px;
  font-weight: 700;
}
input.light{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: thin solid white;
}
input.dark{
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: hsl(209, 23%, 22%) thin solid ;
  background-color: hsl(209, 23%, 22%);
}